* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}





#portfoliotxt {color: #55bd47;}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: .5s;
}

header {padding-left: 500px;
padding-top: 100px;}



.principal {
  display: flex;
  align-items: center;
  height: 100vh;
}

#icon {
  height: 20px;
  width: 20px;
}

.principal .principal-conteudo {
  max-width: 44rem;
}

.principal-conteudo h3 {
  overflow: hidden; 
  border-right: .15em solid #55bd47; 
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(20, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #55bd47; }
}

.principal-conteudo h3 {

  font-size: 3.2rem;
  font-weight: 700;
  line-height: .90;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;;
  font-style: normal;
  color: #2b6124;
}

.principal-conteudo h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: .3rem;
  color: #55bd47;
}

.principal-conteudo p {
  font-size: 1.6rem;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 500px;
  height: 60vh;
  padding-bottom: 100px;
}

.sobre-conteudo h2 {
  text-align: left;
  line-height: 1.2;
  
}

.sobre-conteudo h3 {
  font-size: 2rem;
}

.sobre-conteudo p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.heading {
  font-size: 4.5rem;
  text-align: center;
  color: #55bd47;
}

#bem-vindo {color: #2b6124;}

.skills {   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 500px;
    background-color: white;
}

.heading1 {
  font-size: 4.5rem;
  text-align: center;
  color: #55bd47;
}

.skills-conteudo h2 {
  text-align: left;
  line-height: 1.2;
}

.contato {
  min-height: auto;
  padding-bottom: 7rem;
  padding-right: 500px;
  height: 100vh;
}

.contato h2 {
  margin-bottom: 3rem;
  padding-right: 10px;
}



.contato form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contato form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: .8rem;
  margin: .7rem 0;
  box-shadow: 0 .1rem .2rem black;
}

.contato form .input-box input {
  width: 49%;
}

.contato form textarea {
  resize: none;
}

.contato form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.contato a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.contato a:hover {
  color: #2b6124;
  text-decoration: none;
  transition: .5s ease;
}

.navbar a:hover {
  color: #55bd47;
  text-decoration: none;
  transition: .5s ease;
}

#button-send {
  background-color: #55bd47;
  width: 50%;
  border-radius: 14px;
}

#button-around {
  padding-left: 200px;
  padding-bottom: x;
}

.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background-color: #55bd47;
}

.rodape-text p {
  font-size: 1.6rem;
  color: black;
}

.rodape-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  border-radius: .8rem;
  border: .2rem solid #55bd47;;
  outline: .2rem solid transparent;
  transition: .5s ease;
  color: black;
}

.rodape-icon a:hover {
  outline-color: white;
}

.rodape-icon a i {
  font-size: 2.4rem;
  color: #333;
}

.habilidades {
  padding-right: 730px;
}

.habilidades h2 {
  padding-right: 400px;
}

.habilidades p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;

}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.type {
  width: 100%;
  text-align: left;
  line-height: 30px;
  color: black;
  font-weight: bold;
  padding-left: 20px;
  font-size: 20px;
}

.dark-mode {
  background-color: #182216;
  color: white;
  transition: 1s;
}

.dark-mode a {
  color: white;
}

.dark-mode img {
  color: white;
}

.dark-mode a i{
  color: white;
}

.projetos {
  min-height: auto;
  padding-bottom: 10rem;
}

.projetos2 {
  min-height: auto;
  padding-bottom: 10rem;
}

.projetos h2 {
  margin-bottom: 5rem;
}

.projetos .projetos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-right: 70px;
  margin-left: 70px;
}

.projetos-container .projetos-conteudo {
  flex: 1 1 30rem;
  padding: 3rem 2rem 4rem;
  box-shadow: 0 .1rem .3rem black;
  text-align: center;
  border-top: .6rem solid #55bd47;
  border-bottom: .6rem solid #55bd47;
  transition: .5s ease;
  margin-top: 20px;
}

.projetos-container .projetos-conteudo:hover {
  box-shadow: 0 .1rem 2rem black;
  transform: scale(1.02);
}

.projetos-conteudo i {
  font-size: 7rem;
  color: black;
}

.projetos-conteudo img {
  width: 75px;
  height: 75px;
}

.projetos-conteudo h3 {
  font-size: 2.6rem;
  transition: .5s ease;
}

.projetos-conteudo:hover h3 {
  color: #55bd47;
}

.projetos-conteudo:hover i {
  color: #55bd47;
}

.projetos-conteudo:hover img {
  color: #55bd47;
}

.projetos-conteudo p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.projects-fotos {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
margin-left: 0;
margin-right: 0;
  
}

.projects-fotos div {
  width: 33%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.projects-fotos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 1s;
}

.projects-fotos svg {
  fill: #55bd47;
  position: absolute;
  top: 70%;
  left: 50%;
  height: 30px;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: 1s;
}

.projects-fotos div:hover svg {
  top: 50%;
  opacity: 1;
}

.projects-fotos div:hover img {
  filter: brightness(50%);
}

@media (max-width: 1200px) {
  html {
      font-size: 55%;
  }

  .principal{
      right: -10%;
  }

  .principal{
      right: -6%;
  }

  .principal-img img {
      right: 0;
  }
}

@media (max-width: 1100px) {
  .principal .principal-conteudo .profession-box {
      right: -15%;
  }

  .principal-img img {
      max-width: 420px;
  }
}

@media (max-width: 1024px) {
  .header {
      padding: 2rem 3%;
  }

  section {
      padding: 10rem 3% 2rem;
  }

  .principal {
      right: -20%;
  }

  .principal {
      right: -12%;
  }

  .principal-img img {
      max-width: 400px;
  }
}

@media (max-width: 991px) {

  .navbar a:nth-child(1) {
      color: var(--main-color);
  }

  .navbar a.active::before {
      background: var(--main-color);
      opacity: .7;
  }

  .principal .principal-conteudo {
      max-width: 50rem;
  }

  .principal {
      right: -35%;
  }

  .principal {
      right: -30%;
  }

  .principal-img img {
      display: none;
  }

  .rodape {
      padding: 2rem 3%;
  }
}

@media (max-width: 896px) {
  .navbar a:nth-child(2) {
      color: var(--main-color);
  }

  .principal {
      right: -50%;
  }

  .principal {
      right: -43%;
  }
}

@media (max-width: 879px) {
  .projetos .projetos-conteudo {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  .navbar a:nth-child(2) {
      color: var(--white-color);
  }
}

@media (max-width: 768px) {
  #menu-icon {
      display: block;
  }

  #darkmode {
      position: absolute;
      right: 7rem;
      font-size: 2.6rem;
      color: var(--text-color);
      margin-bottom: .1rem;
  }

  .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
      display: none;
  }

  .navbar.active {
      display: block;
  }

  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      color: var(--text-color);
  }

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
      color: var(--text-color);
  }

  .navbar a.active {
      color: var(--main-color);
  }

  .navbar a::before {
      display: none;
  }

  .principal {
      padding: 0 3% 23rem;
      justify-content: center;
      text-align: center;
  }

  .principal-conteudo h3 {
      font-size: 2.6rem;
  }

  .principal-conteudo h1 {
      font-size: 5rem;
  }

  .principal-conteudo .social-media a {
      margin: 2.5rem .75rem 3rem;
  }

  .principal {
      left: 0;
      width: 100%;
      height: 100%;
  }

  .principal {
      position: fixed;
      top: 450px;
      left: 0;
      width: 100%;
  }

  .principal {
      padding: 0 13px;
      left: auto;
      transform-origin: 0;
  }

  .sobre {
      flex-direction: column-reverse;
      text-align: center;
  }

  .sobre-conteudo h2 {
      text-align: center;
  }

}


@media (max-width: 450px) {
  html {
      font-size: 50%;
  }

  #darkmode {
      right: 6rem;
  }


  .contato form .input-box input {
      width: 100%;
  }

  .rodape {
      flex-direction: column-reverse;
  }

  .rodape p {
      text-align: center;
      margin-top: 2rem;
  }
}

@media (max-width: 365px) {
  .sobre img {
      width: 90vw;
  }
}

@media (max-width: 315px) {
  .principal-conteudo h1 {
      font-size: 4.5rem;
  }
}
img {
  border-radius: 20px;
}

.header.sticky {
  background: #2b6124;
  box-shadow: 0 .1rem 1rem black;
}

.logo {
  font-size: 2.5rem;
  color: black;
  font-weight: 600;
  margin-right: auto;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: black;
  font-weight: 500;
  margin-right: 3.5rem;
}

.header.sticky .navbar a {
  color: white
}

.header.sticky .navbar a.active {
  color:#55bd47;
}

.navbar a.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: .2rem;
  background: #55bd47;
}

.header.sticky .navbar a::before {
  background: #55bd47;
  opacity: .7;
}
